@import 'styles/imports/generic.imports';
@import 'styles/imports/elements.imports';

@import url(//db.onlinewebfonts.com/c/f1065d0fff2de97c2c7ff72bb019a88e?family=Arcade);

body{
    font-family: Arcade;
    margin: 0;
    background-color: #282c34;
    text-align: center;
    justify-content: center;
    color: white;
    
    
}