.formPage{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.formInput{
    margin-bottom: 1rem;
    width: 500px;
    text-align: center;
}

.formButton{
    max-width: 100px;
    margin: auto;
    padding: 0.5rem;
}